# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/iOSBuild/FFMpegTest/
/iOSBuild/build
/macOSBuild/build
/androidBuild/build

/macOSBuild/libFFmpeg
/macOSBuild/libx264
/macOSBuild/Makefile
/macOSBuild/.depend

/androidBuild/libFFmpeg
/androidBuild/libx264

/iOSBuild/FFmpeg-iOS
/iOSBuild/x264-iOS
/iOSBuild/scratch
/iOSBuild/thin
/iOSBuild/scratch-x264
/iOSBuild/thin-x264